*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 75rem;
    width: 90%;
    margin: 0 auto;
}

.section {
    position: relative;
    padding: 6.25rem 0 6.875rem;
    box-shadow: 0 2px 3px rgba($color: set-color($primary-color), $alpha: 0.1);

    &__heading {
        text-align: center;
        margin-bottom: 4rem;
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 1px;
        padding-bottom: 0.2em;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 3rem;
            height: 2px;
            background-color: set-color($primary-color);
            display: block;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
