.footer {
    text-align: center;

    span {
        display: block;
        font-size: 1.2rem;
        margin-bottom: 0.8em;
    }

    .marketplace {
        width: 150px;
        height: 39px;
        display: block;
        margin: 0 auto;
        background: url("../images/fiverr.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center 0%;
        @include transition(350ms, cubic-bezier(0.5, -0.6, 0.54, 1.65));

        &:hover {
            background-position: center 100%;
            cursor: pointer;
        }
    }
}
