.main-header {
    // box-shadow: 0 1px 1px rgba(set-color($primary-color), 0.2);
    border-bottom: 1px solid rgba(set-color($primary-color), 0.2);
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: $primary-color;

    &__grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include mq(max-width, 900) {
            flex-direction: column;
        }
    }

    .brand {
        @include mq(max-width, 900) {
            text-align: left;
            width: 100%;
        }

        &__logo {
            text-decoration: none;
            font-size: 3rem;
            line-height: 5rem;
            display: inline-block;
            color: set-color($primary-color);
            @include transition;

            &:hover {
                color: $secondary-color;
            }
        }
    }

    nav {
        @include mq(max-width, 900) {
            position: relative;
            width: 100%;
        }
    }

    .nav-toggler {
        @include mq(max-width, 900) {
            // border: 1px solid red;
            width: 1.8rem;
            height: 20px;
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
            z-index: 20;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;

            &__icon,
            &__icon:before,
            &__icon:after {
                background: set-color($primary-color);
                display: block;
                width: 100%;
                height: 2.5px;
                @include transition(200ms);
            }

            &__icon {
                position: relative;
            }

            &__icon:before,
            &__icon:after {
                content: "";
                position: absolute;
            }

            &__icon:before {
                top: -7px;
            }

            &__icon:after {
                top: 7px;
            }

            &:hover .nav-toggler__icon,
            &:hover .nav-toggler__icon:before,
            &:hover .nav-toggler__icon:after {
                background-color: $secondary-color;
            }

            &.open {
                & .nav-toggler__icon {
                    background: transparent;
                    &:hover {
                        background: transparent;
                    }

                    &:before {
                        transform: rotate(-45deg);
                        top: 0;
                    }

                    &:after {
                        transform: rotate(45deg);
                        top: 0;
                    }
                }
            }
        }
    }

    .menu {
        list-style: none;
        padding: 0;

        @include mq(max-width, 900) {
            text-align: center;
            background-color: rgba($primary-color, 0.9);
            // background-color: rgba(green, 0.5);
            color: set-color($primary-color);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            // padding-top: 1.5em;
            // height: calc(100vh - 5rem);
            height: 0;
            overflow: hidden;
            z-index: 10;
            // border: 1px solid red;
            @include transition(200ms);

            &.open {
                height: calc(100vh - 5rem);
            }
        }

        li {
            display: inline-block;
            padding: 0 1.2em;

            @include mq(max-width, 900) {
                display: block;
                padding: 1rem 0;

                &:first-child {
                    margin-top: 1.5rem;
                }
            }
        }

        a {
            display: block;
            text-decoration: none;
            font-weight: 400;
            color: set-color($primary-color);
            font-size: 1.1rem;
            @include transition;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}
