.skills {
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(173.33px, 1fr));
        grid-auto-rows: min-content;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        @include mq(max-width, 649) {
            padding: 0 1.5rem;
        }
    }

    &__item {
        text-align: center;
        border: 1px solid set-color($primary-color);
        padding: 1rem;

        h2 {
            font-weight: 300;
            font-size: 1.2rem;
            margin-top: 0.5rem;
        }

        img {
            width: 75px;
        }

        img.f-width {
            width: 100%;
            margin: 1rem 0 1rem;
        }

        img.low-width {
            margin: 0;
            width: 85%;
        }

        i.fa-html5 {
            color: #e34f26;
        }
        i.fa-css3-alt {
            color: #1572b6;
        }
        i.fa-sass {
            color: #cd6799;
        }
        i.fa-bootstrap {
            color: #563d7c;
        }
        i.fa-js {
            color: #f0db4f;
        }
        i.fa-github {
            color: set-color($primary-color);
        }
        i.fa-gulp {
            color: #db4446;
        }
        i.fa-npm {
            color: #db4446;
        }
        i.fa-react {
            color: #61dbfb;
        }
        i.fa-node-js {
            color: #3c873a;
        }
        i.fa-database {
            color: #3fa037;
        }
        i.fa-wordpress {
            color: #0073aa;
        }
    }
}
