.works {
    &__controls {
        margin-bottom: 3.5rem;
        text-align: center;
        li {
            display: inline-block;
            margin: 0 0.6em 0.6em;
            border: 1px solid set-color($primary-color);
            color: set-color($primary-color);
            padding: 0.5em 1em;
            cursor: pointer;
            @include transition;
            &:hover {
                border-color: $secondary-color;
                color: $secondary-color;
            }

            @include mq(max-width, 649) {
                margin: 0 0.4em 1em;
                padding: 0.4em 0.8em;
                font-size: 0.9rem;
            }
        }

        li.active {
            border-color: $secondary-color;
            color: $secondary-color;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
        grid-auto-rows: min-content;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
    }

    &__item {
        position: relative;
        overflow: hidden;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__item-details {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($color: $primary-color, $alpha: 0.96);
        border: 1px solid rgba(set-color($primary-color), 0.3);
        display: flex;
        flex-direction: column;
        backface-visibility: hidden;
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        @include transition;
    }

    &__item-link {
        width: 100%;
        text-align: center;
        padding: 1.5em 0;
        border-bottom: 1px solid
            rgba($color: set-color($primary-color), $alpha: 0.3);

        a {
            color: set-color($primary-color) !important;
            font-size: 1.5rem;
        }
    }

    &__item-detail {
        text-align: left;
        width: 100%;
        padding: 1em;
        // border: 1px solid greenyellow;
        // align-self: flex-start;

        span {
            display: block;
            float: left;
            margin-right: 0.5em;
            padding-top: 0.1em;
            font-style: italic;
        }

        li {
            display: inline-block;
            padding: 0.3em 0.8em;
            margin-bottom: 0.5em;
            border-radius: 20px;
            border: 1px solid set-color($primary-color);
            font-size: 0.8rem;
        }
    }

    &__item:hover &__item-details {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}
