.btn {
    &:hover {
        border-color: $secondary-color;
    }

    &--hire {
        border: 1px solid set-color($primary-color);
        padding: 0.5rem 1.1rem;

        @include mq(max-width, 900) {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
